.home
{
  background-image: url(https://browsecat.net/sites/default/files/1080x1920-hd-space-wallpapers-97577-658387-936705.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color: white;
  font-size: 50px;
  padding: 10px 50px 50px 50px;
  animation-name: bounce;
}

.me
{
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 100px 50px 100px;
}

.edu
{
  background-image: url(https://cdn.wallpapersafari.com/58/18/x6BEh2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  color: white;
  text-align: center;
  padding: 50px 100px 100px 100px;
}

.achie
{
  background-image: url(https://cdn.britannica.com/44/190944-131-7D082864/Silhouette-hand-sport-torch-flag-rings-Olympic-February-3-2015.jpg?q=60);
  background-size: 100% 100%;
  z-index: -1;
  color: black;
  text-align: center;
  padding: 100px;
}

.skills
{
  background-color: black;
  color: white;
  text-align: center;
  padding: 50px 100px 100px 100px;
}

.news
{
  background-color: white;
  color: black;
  padding: 100px;
}

.button 
{
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  }